@model IEnumerable<Administracion_Usuarios.Data.Entities.Modulo>

@{
    ViewData["Title"] = "Módulos";
}

<h1>Módulos</h1>

<p>
    <a asp-action="Agregar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuloCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadOperaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuloCategoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadOperaciones)
                </td>
                <td>
                    <a asp-action="Modificar" asp-route-id="@item.Id">Modificar</a> |

                    <a href="javascript:eliminar('@item.Id', '@item.Nombre')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="mod_eliminar" tabindex="-1" role="dialog" aria-labelledby="camb_estado" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="camb_estado">Eliminar Módulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Eliminar" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="id_modulo" name="Id">
                    <p>Confirme que desea eliminar el módulo <b>"<span id="p_nombre"></span>"</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>

            function eliminar(id, nombre) {
                $('#id_modulo').val(id);
                $('#p_nombre').html(nombre);
                var mod_eliminar = new bootstrap.Modal(document.getElementById('mod_eliminar'), {
                    keyboard: false
                });

                mod_eliminar.show();

            }


        </script>
    }
    }
