@model IEnumerable<Administracion_Usuarios.Data.Entities.Operacion>

@{
    ViewData["Title"] = "Operaciones";
}

<h1>Operaciones</h1>

<p>
    <a asp-action="Agregar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreClave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreClave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nombre)
            </td>
            <td>
                <a asp-action="Modificar" asp-route-id="@item.Id">Edit</a> |
                
                <a href="javascript:eliminar('@item.Id', '@item.Nombre', '@item.NombreClave')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="mod_eliminar" tabindex="-1" role="dialog" aria-labelledby="camb_estado" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="camb_estado">Eliminar Operación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Eliminar" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="id_operacion" name="Id">
                    <p>Confirme que desea eliminar la operación <b>"<span id="p_nombre"></span>"</b>
                        con el nombre clave <b>"<span id="p_nombre_clave"></span>"</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>

            function eliminar(id, nombre, nombreClave) {
                $('#id_operacion').val(id);
                $('#p_nombre').html(nombre);
                $('#p_nombre_clave').html(nombreClave);
                var mod_eliminar = new bootstrap.Modal(document.getElementById('mod_eliminar'), {
                    keyboard: false
                });

                mod_eliminar.show();

            }


        </script>
    }
    }
